.header-button {
  margin: 0 auto;
  width: 160px;
}

.header-button-style {
  width: 160px;
  height: 40px;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}
