.sub__title {
  color: $primary-white-color;
  font-family: 'Kaushan Script', 'Arial', sans-serif;
  font-size: 72px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 20px;
}

.header-title {
  width: 840px;
  margin: 0 auto;
}

.header-title__text {
  color: $primary-white-color;
  font-family: $main-font-stack;
  font-size: 150px;
  font-weight: 700;
  line-height: 140px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 109px;
}
