.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  border-top: $border-color solid 1px;
}

.footer-text {
  @include font-settings (14px, 400);
  margin: 0;
  color: $secondary-dark-color;
  font-family: $main-font-stack;
}

.footer-text__link {
  text-decoration: none;
  color: #f38181;
}

.input-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-email {
  width: 230px;
  height: 40px;
  border: $border-color solid 1px;

  padding-left: 13px;
  font-family: $other-font-stack;
  font-weight: 400;
  color: #cccccc;
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
}

.button-input {
  @include font-settings (14px, 700);
  color: $primary-white-color;
  font-family: $main-font-stack;
  border: 0;
  width: 150px;
  height: 40px;
  background-color: $primary-icon-color;
  cursor: pointer;
}
