.page-nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', 'Arial', sans-serif;
  margin-bottom: 142px;
}

.site-navigation {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 620px;
  margin: 0;
  align-items: center;
  text-transform: uppercase;
}

.site-navigation__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0;
  fill: #ffffff;

  &:hover {
    color: #fce38a;
    fill: #fce38a;
  }
}


.site-navigation__link--hover:hover {
  border-bottom: 3px solid #fce38a;
}
