.header__question {

  @include font-settings (24px , 400);
  font-family: 'Kaushan Script', 'Arial', sans-serif;
  line-height: 24px;
  text-align: center;
  margin: 44px 0 22px 0;
  color: $secondary-dark-color;
}

.section__header {

  @include font-settings (30px, 700);
  font-family: $main-font-stack;
  line-height: 30px;
  text-align: center;
  margin: 0;
  color: $secondary-dark-color;
  margin-bottom: 65px;

  &::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 42px auto 0;
  }
}

.header__question--second {
  margin: 0;
  margin-bottom: 26px;
}
