html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkout"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.page-header {
    min-height: 1000px;
    background-position: center;
    background-size: cover;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9))), url(../img/Orel.png);
    background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/Orel.png);
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/Orel.png);
}

.page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: 'Montserrat', 'Arial', sans-serif;
    margin-bottom: 142px;
}

.site-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 26px 0;
    text-decoration: none;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
}

.page__logo {
    margin: 0;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 620px;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
}

.site-navigation__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
    fill: #ffffff;
}


.site-navigation__link--hover:hover {
    border-bottom: 3px solid #fce38a;
}

.site-navigation__link:hover {
    color: #fce38a;
    fill: #fce38a;
}

.sub__title {
    color: #ffffff;
    font-family: 'Kaushan Script', 'Arial', sans-serif;
    font-size: 72px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 20px;
}

.header-title {
    width: 840px;
    margin: 0 auto;
}
.header-title__text {
    color: #ffffff;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 109px;
}

.header-button {
    margin: 0 auto;
    width: 160px;
}

.header-button-style {
    width: 160px;
    height: 40px;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer;
}

.header__question {
    font-family: 'Kaushan Script', 'Arial', sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin: 44px 0 22px 0;
    color: #333333;
}

.section__header {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #333333;
    margin-bottom: 65px;
}

.section__header::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 42px auto 0;

}

.site-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
}

.site-services-item {
    min-width: 332px;
    list-style: none;
    background-repeat: no-repeat;
    background-position: 30px 4px;
    min-height: 80px;
    position: relative;
    margin-bottom: 96px;
}

.site-services-item__icon {
    position: absolute;
    fill: #95e1d3;
}


.site-services-item__header {
    position: absolute;
    left: 62px;
    margin: 0;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 400;
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
}

.site-services-item__text {
    position: absolute;
    left: 62px;
    top: 35px;
    margin: 0;
    min-width: 280px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    color: #999999;
    font-size: 15px;
}

.header__question--second {
    margin: 0;
    margin-bottom: 26px;
}

.tm {
    margin-bottom: 86px;
}

.team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.tm__text {
    text-align: center;
    padding: 0px 130px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    color: #999999;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 90px;
}

.team-list {
    min-width: 380px;
}

.team-list-fig {
    margin: 0;
}

.team-list__name {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 400;
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin: 29px auto 14px;
}

img {
    display: block;
}

.team-list__prof {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    color: #999999;
    font-size: 15px;
    text-align: center;
    font-style: italic;
    line-height: 24px;
    margin: 0;
}

.team-list-fig__image {
    position: relative;
    margin: 0;
    padding: 0;
    width: 380px;
    height: 470px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.team-list-fig__icon {
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fce38a;
    font-size: 0;
    border-right: 1px solid #f38181;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.team-list-fig__icon:last-child {
    border: none;
}

.team-list-fig__fb {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 78px;
}

.team-list-fig__tw {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 134px;
}

.team-list-fig__p {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 190px;
}

.team-list-fig__inst {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 246px;
}

.social-icon {
    fill: #f38181;
}

.team-list-fig__icon:hover,
.team-list-fig__icon:hover .social-icon {
    background-color: #f38181;
    fill: #ffffff;
}

.team-list-fig__image:hover .team-list-fig__icon {
    opacity: 1;
}

.team-list-fig__image:hover {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.team-list-fig__image::before,
.team-list-fig__image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.team-list-fig__image::before {
    z-index: -1;
    background-color: #95e1d3;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.team-list-fig__image::after {
    opacity: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fce38a), to(#f38181));
    background-image: -o-linear-gradient(bottom, #fce38a, #f38181);
    background-image: linear-gradient(to top, #fce38a, #f38181);
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.team-list-fig__image:hover::after {
    opacity: 0.9;
}

.team-list-fig__image:hover::before {
    -webkit-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
}


.footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 60px;
    border-top: #e5e5e5 solid 1px;
}

.footer-text {
    margin: 0;
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

.footer-text__link {
    text-decoration: none;
    color: #f38181;
}

.input-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-email {
    width: 230px;
    height: 40px;
    border: #e5e5e5 solid 1px;

    padding-left: 13px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    color: #cccccc;
    font-size: 15px;
    line-height: 24px;
    font-style: italic;
}

.button-input {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    border: 0;
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    cursor: pointer;
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .page-header {
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9))), url(../img/Orel@2x.png);
        background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/Orel@2x.png);
        background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/Orel@2x.png);
    }
}