html {
    font-size: 16px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkout"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}

.page-header {
    background-image: url(../img/people.png);
    height: 33.75rem;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.75);
    background-size: cover;
}

.page-logo {
    text-align: center;
    color: #ffffff;
    font-family: 'Monserat', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.site-navigation {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.site-navigation-item {
    border: 2px solid rgba(255, 255, 255, 0);
    transition: 0.3s;
}

.a-focus {
    display: inline-block;
    width: 90px;
    height: 36px;
    font-family: 'Monserat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    padding: 0.56rem 0;
    text-decoration: none;
    text-align: center;
}

.site-navigation-item:hover {
    border: 2px solid #ffffff;
    border-radius: 100px 100px 100px 100px;
    transition: 0.3s
}

.a-focus:focus {
    border: 2px solid #ffffff;
    border-radius: 100px 100px 100px 100px;
    transition: 0.3s
}

.page-header-bigtext {
    text-align: center;
    color: #ffffff;
    font-family: 'Monserat', 'Arial', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.page-header-litletext {
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.page-header-button {
    text-align: center;
    margin: 0 auto;
    display: block;
    background-color: #ff4e50;
    width: 280px;
    height: 40px;
    border-radius: 100px 100px 100px 100px;
    padding: 0.67rem;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Monserat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
}



.features-header {
    text-align: center;
    font-family: 'Monserat', 'Arial', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #333333;
}

.features-list-item-img {
    margin: 0 auto 1.19rem;
    width: 7.56rem;
    height: 7.5rem;
    position: relative;
}

.features-list-item-img-icon {
    width: 2.5rem;
    height: 2.5rem;
    border: 4px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    right: -0.25rem;
    bottom: -0.25rem;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-first {
    background-image: url(../img/TV.png);
    background-color: #ff4e50;
}

.icon-second {
    background-image: url(../img/Bottle.png);
    background-color: #ffa507;
}

.icon-third {
    background-image: url(../img/Cup.png);
    background-color: #1cd7ad;
}

.icon-fourth {
    background-image: url(../img/Plane.png);
    background-color: #4e73db;
}

.features-list-item-name {
    font-family: 'Monserat', 'Arial', sans-serif;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 0.81rem;
}

.features-list-item-text {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #666666;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.features-button {
    height: 2.5rem;
    border: 2px solid #ff4e50;
    background-color: #ffffff;
    border-radius: 100px 100px 100px 100px;
    cursor: pointer;
    color: #ff4e50;
    font-family: 'Monserat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0 auto;
    display: block;
}


@media (min-width: 320px) and (max-width: 767px) {

    .page-logo {
        margin-bottom: 2.06rem;
    }

    .site-navigation {
        margin: 1.5rem auto 7.06rem;
    }

    .features-header {
        margin: 4.19rem auto 0.81rem;
    }

    .page-header-bigtext {
        margin-bottom: 0.88rem;
    }

    .page-header-litletext {
        max-width: 13.56rem;
        margin: 0 auto 1.06rem;
    }

    .features-list-item-text {
        padding: 0 2.38rem;
        margin: 0 auto 1.06rem;
        text-align: center;
    }

    .features-button {
        width: 17.5rem;
        margin-bottom: 3.56rem;
    }

}

@media (min-width: 768px) {

    .page-logo {
        padding: 9px 0;
        margin-top: 2.38rem;
        margin-bottom: 8.8rem;
    }

    .site-navigation {
        margin-top: 2.38rem;
        display: flex;
        justify-content: flex-end;
        margin-right: 2.25rem;
    }

    .logo-button {
        justify-content: space-between;
    }


    .page-header {
        height: 43.75rem;
    }

    .page-header-button {
        width: 14.13rem;
    }


    .page-header-bigtext {
        font-size: 52px;
        margin: 0 0 28px 0;
    }


    .page-header-litletext {
        font-size: 24px;
        margin-bottom: 2rem;
    }

    .features-header {
        margin-top: 4.38rem;
        margin-bottom: 1.88rem;
    }
    .features-list-item {
        margin-bottom: 2.38rem;
    }

    .features-list-item:nth-last-of-type(even) {
        margin-bottom: 3.56rem;
    }

    .features-button {
        width: 12.06rem;
        margin-bottom: 2.5rem;
    }

}