html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkout"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 320px;
    padding: 0;
}

.page-header {
    background-image: url(../img/people.png);
    height: 540px;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.75);
    background-size: auto 540px;
}

.page-header-nav {
    display: flex;
    flex-direction: column-reverse;
}
.page-nav {
    padding-top: 20px;
    margin: 0 auto 113px;
}

.site-navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: 0 auto;
    padding: 0;

}

.site-navigation-item {
    text-align: center;
    padding: 0;
    border: 2px solid rgba(255, 255, 255, 0);
    transition: 0.3s;
}

.site-navigation-item a {
    display: inline-block;
    width: 90px;
    height: 36px;
    font-family: 'Monserat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    padding: 8px 0;  
    }

.site-navigation-item:hover {
    border: 2px solid #ffffff;
    border-radius: 100px 100px 100px 100px;
    transition: 0.3s
}

.a-focus:focus {
    border: 2px solid #ffffff;
    border-radius: 100px 100px 100px 100px;
    transition: 0.3s
}

.site-navigation-item a {
    text-decoration: none;
}

.page-logo {
    text-align: center;
    color: #ffffff;
    font-family: 'Monserat', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 33px 0;
}

.page-header-bigtext {
    text-align: center;
    color: #ffffff;
    font-family: 'Monserat', 'Arial', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 14px 0;
}

.page-header-litletext {
    width: 217px;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0 auto 17px;
}

.page-header-button {
    text-align: center;
    margin: 0 auto;
}

.page-header-button a {
    display: inline-block;
    background-color: #ff4e50;
    width: 280px;
    height: 40px;
    border-radius: 100px 100px 100px 100px;
    padding: 11px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Monserat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.features {
    padding: 67px 28px 57px;
}

.features-header {
    text-align: center;
    font-family: 'Monserat', 'Arial', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #333333;
    margin: 0 0 13px;
}

.features-list-item-img {
    margin: 0 auto 18px;
    width: 121px;
    height: 120px;
    position: relative;
}

.features-list-item-img-icon {
    width: 40px;
    height: 40px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    bottom: -4px;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-first {
    background-image: url(../img/TV.png);
    background-color: #ff4e50;
}

.icon-second {
    background-image: url(../img/Bottle.png);
    background-color: #ffa507;
}

.icon-third {
    background-image: url(../img/Cup.png);
    background-color: #1cd7ad;
}

.icon-fourth {
    background-image: url(../img/Plane.png);
    background-color: #4e73db;
}

.features-list-item-name {
    font-family: 'Monserat', 'Arial', sans-serif;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 13px;
}

.features-list-item-text {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #666666;
    font-size: 14px;
    font-weight: 300;
    margin: 0 auto 28px;
    text-align: center;
    width: 217px;
}

.features-button {
    width: 280px;
    height: 40px;
    border: 2px solid #ff4e50;
    background-color: #ffffff;
    border-radius: 100px 100px 100px 100px;
    cursor: pointer;
    color: #ff4e50;
    font-family: 'Monserat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0 auto;
    display: block;
}

@media (min-width: 768px) {

    .page-header{
        height: 700px;
        background-size: auto 700px;
    }

    .page-header-nav {
        flex-direction: row;
        width: 670px;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        margin: 0 auto;
    }

    .page-logo {
        margin: 38px 0 0 0;
        justify-items: center;
        padding: 8px 0; 
    }

    .page-nav{
margin: 38px 0 138px 0;
padding: 0;

    }

    .site-navigation-item a{
margin: 0;
padding: 0;
padding: 8px 0; 
    }

    .page-header-bigtext{
        font-size: 52px;
        width: 477px;
        margin: 0 auto 33px;
    }

    .page-header-litletext {
        font-size: 24px;
        width: 398px;
        margin: 0 auto 32px;
    }

    .features-header{
        margin: 0 0 30px;
    }

    .features-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 476px;
        margin: 0 auto 39px;
    }

    .features-list-item-text {
        margin: 0;
    }
}