$main-font-stack: 'Montserrat', 'Arial', sans-serif;
$other-font-stack: 'Roboto', 'Arial', sans-serif;

$primary-white-color: #ffffff;
$primary-dark-color: #999999;
$secondary-dark-color: #333333;
$primary-icon-color: #95e1d3;
$border-color: #e5e5e5;
$hover-color: #fce38a;